PROJECT_NAME=MY_DE_PROJECT

## Docker Image Build, referenced by docker-compose.yml
USER_CODE_PATH=./my_de_project
## Must be lowercase
IMAGE_REGISTRY=ghcr.io
IMAGE_REPO=template_de

## MinIO (Local Object Storage)
MINIO_ROOT_USER=ROOTUSER
MINIO_ROOT_PASSWORD=ROOTUSER
## Steps to create access key:
## 1. Spin up MinIO server
## 2. Access MinIO server via browser
## 3. Create access key (i.e. service account of the user logged in)
## 4. Put the access key here
## 5. Put the Endpoint url here (console port default 9000)
MINIO_ACCESS_KEY=ACCESS_KEY
MINIO_SECRET_KEY=SECRET_KEY
MINIO_REGION=us-east-2
MINIO_ENDPOINT=host:port

## Windows Active directory
NEED_JOIN_DOMAIN=False
